.left-t-icons, .left-f-title{
  background: url(../../images/common/icon.png) no-repeat;
  background-size: 700px 1350px;
}

.left-wrapper{
  width: 750px;
  position: relative;
}

#waterfall{ position: relative; margin: 80px auto 0; }
#waterfall .fall-cover, #waterfall .fall-background{ width: 100%; height: 100%; }
#waterfall .fall-cover{ position: absolute; top: 0; left: 0; }
#waterfall .fall-cover img{ width: 100%; position: absolute; top: 0; left: 0; }

.left-tips{
  margin-left: 160px;
}
.left-tips p{
  line-height: 75px;
  font-size: 24px;
  color: #a0a0a0;
  margin-bottom: 40px;
}
.waterfall-wrapper{
  position: relative;
  width: 100%;
  height: 900px;
}

.left-t-icons, .left-t-txt{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.left-t-icons{
  width: 75px;
  height: 75px;
  background-position: 0px -420px;
}
.left-t-txt{
  padding-left: 35px;
}

.left-flow{
  margin-top: 90px;
  width: 100%;
}
.left-f-title{
  width: 290px;
  height: 158px;
  margin: 0 auto;
  background-position: 0 -560px;
  line-height: 999em;
  overflow: hidden;
}

.left-f-txt{
  position: absolute;
  font-size: 24px;
  color: #a0a0a0;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
}
.left-f-p1{
  top: -40px;
  left: 300px;
}
.left-f-p2{
  top: 210px;
  left: 50px;
}
.left-f-p3{
  top: 210px;
  left: 500px;
}
.left-f-p4, .left-f-p5, .left-f-p6, .left-f-p7{
  width: 100%;
  text-align: center;
  left: 0;
}
.left-f-p4{
  top: 470px;
}
.left-f-p5{
  top: 580px;
}
.left-f-p6{
  top: 690px;
}
.left-f-p4{
  bottom: 0;
}

.left-f-button{
  width: 260px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: #fff;
  background-color: #486a00;
  border: solid 1px #a0a0a0;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}
